*,
*::before,
*::after {
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 1rem;
}

/** Custom CSS **/

// Container background
.container-bg-light {
  background-color: secondary_background;
}

.container-bg-dark {
  // background-color: $background-dark;
  background-color: #232129;
}

// Just headers
.header-text-light {
  color: $text_light_dark;
}

.header-text-dark {
  color: $secondary_light;
}

// It is for all type of headings ( light mode )
.heading-light {
  color: $text_color;
}

.heading-dark {
  color: $text-color-secondary;
}

// Sub heading
.sub-heading-text-light {
  color: $text_light_dark;
}

.sub-heading-text-dark {
  color: $secondary_light;
}

// Just for paragraph text
.para-text-light {
  color: $text_light_dark;
}

.para-text-dark {
  color: $text_color_secondary;
}

// Just for text
.text-light {
  color: $text_light_dark !important;
}

.text-dark {
  color: $text_color_secondary !important;
}

// Buttons
.btn-light {
  color: $dark_black;
}

.btn-dark {
  color: $primary_white;
}

// Footer
.footer-bg-light {
  background-color: #f1f2fa;
}

.footer-bg-dark {
  // background-color: $background-secondary;
  background-color: #2a2731;
}

.read-more-btn-light{
  background: white;
  color: #627af1;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 255,0.07);
  
}
.read-more-btn-light:hover{
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 255,0.10);
}
.read-more-btn-dark{
  background: #f1f2fc;
  color: #8189a9;
  box-shadow: 0px 0px 5px 2px rgba(255, 255, 255,0.40);
  
}
.read-more-btn-dark:hover{
  box-shadow: 0px 0px 5px 2px rgba(255, 255, 255,0.55);
}