// @import "reset";
@import "vars";
@import "base";
@import "general";

.main-blog-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 8.33%);
  grid-template-rows: 20% 15% 70%;

  @media screen and (max-width: 768px) {
    grid-template-rows: 15% 15% 70%;
  }
}

.post-container {
  grid-row: 1 / span 3;
  grid-column: 3 / span 8;
}

.post-sidebar-container {
  grid-row-start: 1;
  grid-column: 1 / span 2;
}

.post-social-share-container {
  grid-row-start: 2;
}

@media screen and (max-width: 768px) {
  .post-container {
    grid-row-start: 1;
    grid-column: 2 / span 10;
  }
  .post-sidebar-container {
    margin: 1rem 0 !important;
    grid-gap: 10px !important;
    grid-row-start: 2;
    grid-column: 2 / span 10;

    grid-template-rows: 100% !important;
    grid-template-columns: 100% !important;
  }
  .post-info-container {
    // padding: 1rem 1rem;
    border-radius: 4px;

    // grid-row-start: 2;
    grid-gap: 0 !important;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    justify-items: start;
    align-items: center;
  }
  .post-extra-info-container {
    margin-left: 1rem;
  }
  // .post-dark {
  //   background-color: #0e0e0e;
  // }
  // .post-light {
  //   background-color: #f5f5f5;
  // }
  .post-social-share-container {
    grid-row: 3;
    grid-column: 2 / 12;
    align-self: end;
  }
  .social-icon-container {
    grid-template-columns: repeat(4, 25%);
    justify-items: center !important;
  }
}
